
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Hakkımızda</h1>
            <a href="@Url.Action("Index","Home")" class="h4 text-white">Anasayfa</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="@Url.Action("About","Home")" class="h4 text-white">Hakkımızda</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h5 style="color:white" class="position-relative d-inline-block text-uppercase">Hakkımızda</h5>
                    <h1 style="color:#deba57" class="display-5 mb-0">Güvenilir Hizmet</h1>
                </div>
                <h4 style="color:#a1ada4 !important" class="text-body fst-italic mb-4">İstanbul'un en seçkin semtlerinden biri olan Suadiye'de bulunan Suadiye Hair House, saç protez ve saç sağlığı alanında yıllardır hizmet vermektedir.</h4>
                <p style="color:white" class="mb-4">
                    Modern teknoloji bakım yöntemlerini birleştirerek, müşterilerimize en iyi hizmeti sunmaktayız. Deneyimli ve uzman ekibimiz, saç dökülmesi, incelmesi saç kıran ve alopesi bir sebepten dolayı saç kaybı yaşayan bireyler için özel çözümler üretmektedir. Saç protezlerimiz, doğal görünümlü ve rahat bir kullanım sunar. Her bireyin ihtiyaçlarına özel olarak tasarladığımız saç protezleri, yaşam kalitenizi artırmak için mükemmel bir seçenektir. Müşteri memnuniyetini birinci önceliğimiz olarak görmekteyiz. Bu nedenle Suadiye Hair House olarak her zaman en iyi ürünleri, en yeni teknolojileri ve en kaliteli hizmeti sunma sözü veriyoruz. Saçınızın sağlığı ve memnuniyeti için en doğru adreste olduğunuzu bilmenizi isteriz. Saçınıza yeni bir başlangıç yapmak, doğal ve canlı saçlara kavuşmak için Suadiye Hair House'a bekleriz!
                </p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Güvenilir Hizmet</h5>
                        <h5 style="color:#b88525"  class="mb-3"><i class="fa fa-check-circle me-3"></i>Profesyonel Ekip</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Destek</h5>
                        <h5 style="color:#b88525" class="mb-3"><i class="fa fa-check-circle  me-3"></i>Kaliteli Çalışma </h5>
                    </div>
                </div>
                @Html.ActionLink("Bize Ulaşın","Contact","Home",null,new {@class = "btn btn-primary py-3 px-5 mt-4 wow zoomIn" })
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="~/source/img/logoTheme.remini-enhanced.png" style="object-fit: contain;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


